#box_table {
	border-collapse: separate;
	border-spacing: 0;
	margin-top: 5%;
	margin-left: 32.5%;
	text-align: left;
}

.column {
    border: 2px solid black;

}

.image_column {
	/*border: 2px solid green;*/
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid none solid solid;
	border-top-left-radius: 7px; 
	border-bottom-left-radius: 7px;
	background-color: rgba(255, 255, 255, 0.6);
}

.desc_column {
	/*border: 2px solid blue;*/
	width: 500px;
	padding-left: 10px;
	border-top-right-radius: 7px; 
	border-bottom-right-radius: 7px;
	background-color: rgba(255, 255, 255, 0.6);
}

.desc_head {
	margin-top: 10px;
	margin-left: 10px;
}

.desc_para {
	/*margin-top: -8px;*/
	margin-left: 10px;
}

.spacer {
	height: 40px;
}

