@import url("sidebar.css");
@import url("navbar.css");
@import url("middlebox.css");
@import url("skills.css");
@import url("interests.css");
@import url("experience.css");
@import url("projects.css");

/** {
	border: 2px solid brown;
}*/

/*.ht {
	height: 100px;
}*/
a {
    outline: 0;
}

ul {
	list-style: none;
}

html, body {
   height: 100%;
   overflow: hidden;
}

#heading {
	text-align: center;
	font-family: serif;
}
/*body {
	background: url("background.jpg") no-repeat center fixed;
	background-size: cover;
}*/




