@import url("sidebar.css");
@import url("navbar.css");
@import url("middlebox.css");
@import url("skills.css");
@import url("interests.css");
@import url("experience.css");
@import url("projects.css");

/** {
	border: 2px solid brown;
}*/


a {
    outline: 0;
}

ul {
	list-style: none;
}

html, body {
   height: 100%;
   /*overflow: hidden;*/
   text-align: center;
}

#heading {
	/*position: relative;*/
	display: inline-block;
	font-family: serif;
	background-color: black;
	padding: 10px;
	color: white;
	opacity: 0.8;
	/*left: 30%;*/

}

body {
	background: url("../res/main_bg.jpg") no-repeat center fixed;
	background-size: cover;
}




